.root {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;
  background: #51576c;
  padding: 0 16px;
  border-radius: 8px;
  user-select: none;
}
