.root {
  display: flex;
  align-items: center;
  height: 50px;
  background: #fff;
  padding: 0 10px 0 50px;
  box-shadow: 0 0 5px #d1dae4;
  z-index: 1;

  @media screen and (min-width: 764px) {
    height: 80px;
    padding: 0 10px 0 120px;
  }
}

.actions {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search {
  display: none;
  align-items: center;
  gap: 8px;
  margin-left: auto;

  @media screen and (min-width: 764px) {
    display: flex;
  }
}

.searchInput {
  display: none;
  width: auto;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #ebebeb;

  &:focus {
    outline: 1px solid #dadada;
  }

  @media screen and (min-width: 764px) {
    width: 250px;
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100%;
  transition: background 0.2s ease;

  &:hover {
    background: #9cfd9b;
  }
}
