@import 'src/assets/styles/mixins';

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 500px;

  @include card;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.prosOrCons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 12px;
  padding: 6px 12px;
  min-height: 40px;
  border-radius: 8px;
  background: #eff4fa;
  overflow-wrap: anywhere;
}

.remove {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-left: auto;
}

.weight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 6px;
    background: rgba(186, 186, 186, 0.3);
    border-radius: 3px;
  }
}

.weightLabel {
  font-size: 12px;
  text-align: center;
  line-height: 90%;
  flex-shrink: 0;
}

.actions {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(186, 186, 186, 0.3);
  padding-bottom: 8px;
}

.weightValue {
  width: 15px;
  text-align: center;
}
