.root {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
  padding: 0 10px;

  &:focus {
    outline: 1px solid rgba(171, 171, 171, 0.44);
  }

  &::placeholder {
    opacity: 0.3;
  }
}
